.profile {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 12em;
}

.profile__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 2rem;
  gap: 5em;
}

.profile__name {
  font-weight: 600;
}

.profile__settings {
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.profile__about-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.profile__about-head {
  font-size: 1.5rem;
  font-weight: 600;
}

.profile__about-text {
  font-style: italic;
}

.profile__dark-mode {
  font-size: 1rem;
}
