.card__container {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  margin-bottom: 5rem;
}

.card {
  border: 1px solid var(--color-black);
  margin: 36px;
  padding: 28px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  border: 3px solid var(--color-black);
  border-radius: 10px;
  background-color: var(--color-white);
  position: relative;
}

.card__title {
  display: flex;
  justify-content: space-between;
}

.card__question {
  font-size: 28px;
  margin-bottom: 10%;
  width: 90%;
}

.card__bookmark {
  position: absolute;
  right: 10px;
  top: 10px;
  scale: 150%;
  cursor: pointer;
  fill: none;
}

.card__bookmark-checked {
  fill: var(--color-black);
}

.card__toggle-answer {
  padding: 6px;
  width: 40%;
  background-color: var(--color-saffron);
  border-radius: 5px;
  margin: 10px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.card__toggle-answer:hover {
  background-color: var(--color-jasmine);
}

.tag__container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  color: var(--color-white);
  align-self: flex-start;
}

.tag {
  background-color: var(--color-jet);
  padding: 5px;
  border-radius: 5px;
  font-style: italic;
  font-weight: 300;
  font-size: 12px;
  cursor: pointer;
}

.card__answer {
  font-size: 1rem;
}

.card__answer-hidden {
  color: transparent;
  text-shadow: 0 0 7.5px rgba(0, 0, 0, 0.5);
}
