.title {
  color: var(--color-jet);
  width: 100vw;
  height: 50px;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  z-index: 10;
  background-color: var(--color-white);
  font-size: 18px;
  box-shadow: 0 2px 0px rgba(0, 0, 0, 0.2);
}
